@import 'src/variables.scss';

.forecast-hourly {
    display: flex;
    flex-wrap: wrap;
    justify-content: inherit;
    flex-basis: 100%;
    background: $grey-100;
    color: $grey-300;
    padding: 0;
    margin: 0;

    &__item {
        list-style: none;
        font-size: 12px;
        width: 70px;
        text-align: center;
        padding: 5px;
        border-right: solid 1px $grey-200;
        flex: 1;
        background: #FFF;

        &:last-child {
            border: none;
        }

    }
}
